## User settings
xcuserdata/
.VSCodeCounter/
*.xcuserstate

# editor settings
.idea/
.vscode/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# working paths
glweb171/
glweb/
janus/

# har files
*.har

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm
.build/
DerivedData/
build/

# local OpenCode state
.opencode/

# local build-time config
.env

# generated app icon files
glkvm-client/Assets.xcassets/AppIcon.appiconset/*
!glkvm-client/Assets.xcassets/AppIcon.appiconset/Contents.json
